.mainSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 600px));
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: small;
    }

    li {
        font-size: x-small;
    }

    p {
        font-size: x-small;
    }
}