.mainSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 750px));
    grid-gap: 20px 20px;
}

.topSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3000px));
}

.middleSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 750px));
    grid-gap: 5px 5px;
}

.skills {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
        grid-gap: 5px 5px;
}

@media screen and (max-width: 750px) {

    h1 {
        font-size: small;
    }

li {
        font-size: x-small;
    }

.skills {
	grid-template-columns: repeat(auto-fill, minmax(100px, 130px));
	justify-content: center;
}

    .skill > p {
        font-size: xx-small;
    }

    .topSection > h1 {
        font-size: large;
    }

    .profession > h1 {
        font-size: small;
        margin-top: 1px;
        margin-bottom: 1px;
	max-width: 750px;
    }

    .contacts > h1 {
        font-size: small;
        margin-top: 0px;
	margin-bottom: 1px;
	max-width: 750px;
    }

    .study > h1 {
        font-size: small;
    }
}
