.MainSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 600px));
    grid-gap: 1px 1px;
}

.TopSection {
    display: grid;
    grid-template-columns: 600px 600px 0px;
}

.MiddleSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 600px));
    grid-gap: 1px 1px;
}

.Skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 150px));
    grid-gap: 1px 1px;
}

@media screen and (max-width: 1250px) {


    .Section {
        display: grid;
	justify-content: center;
	 grid-template-columns: repeat(auto-fill, minmax(400px, 800px));
    }
	
.SubSection {
	justify-content: center;
    }

.SubSubSection {
	justify-content: center;
    }

   .TopSection h1 {
	text-align: center;
}

    .Skills {
        grid-template-columns: repeat(auto-fill, minmax(50px, 80px));
    }

    .Button{
	max-width: 800px;
    }

    .Nameplate {
	max-width: 800px;
    }
	
    .BlackBorder{
	max-width: 800px;
	justify-content: center;
    }

    .TopImage {
    width: 100px;
    height: 130%;
}

.TopFrame {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.TopPhoto {
    display: flex;
    justify-content: center;
}
	.Photo {
	display:none;
	}

}


