@media print {

    @page {
        size: 8.5in 11in;
        margin: 1cm
    }

    * {
        line-height: 1;
    }

    #contactsForPrint {
        display: grid;
    }

    #middleSection {
        display: none;
    }

    .Divider {
        display: block;
        color: gray;
        height: 1px;
    }

    .Skills {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(90px, 150px));
        grid-gap: 1px 1px;
    }

    .Section {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 355px));
        grid-gap: 1px 1px;
    }

    .TopSection {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    }

    .SubSection {
        justify-content: center;
    }

    .SubSubSection {
        justify-content: center;
    }

    .TopSection h1 {
        text-align: center;
    }

    .Skills {
        grid-template-columns: repeat(auto-fill, minmax(50px, 80px));
        border-width: 0px;
    }

    .Button {
        max-width: 800px;
    }

    .Nameplate {
        max-width: 800px;
    }

    .BlackBorder {
        max-width: 800px;
        justify-content: center;
    }

    .TopImage {
        width: 100px;
        height: 130%;
    }

    .TopFrame {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
    }

    .TopPhoto {
        display: flex;
        justify-content: center;
    }

    .BorderNameplate {
        border-color: black;
        border-width: 1px;
        border-style: solid;
        border-radius: 20px;
    }

    .BlackBorder {
        color: black;
        background: white;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        border-radius: 20px;
    }

    .Education {
        color: black;
        background: white;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        border-radius: 20px;
    }

    .Worked {
        color: black;
        background: white;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        border-radius: 20px;
    }

    .TopSection {
        color: black;
        background: white;
        min-height: 30px;
    }

    h1 {
        color: black;
    }

    li {
        color: black;
    }

    #aboutMe {
        text-indent: 20px;
        text-align: justify;
    }

}
