@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700|Poiret+One&display=swap&subset=cyrillic');

* {
    margin: 0;
}

li {
    font-family: "Comfortaa", cursive;
    font-size: small;
}

p {
    font-family: "Comfortaa", cursive;
    font-size: small;
}

h1 {
    font-family: "Poiret ONE", cursive;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topSection > h1 {
    font-size: xx-large;
    font-family: "Comfortaa", cursive;
    color: white;
    background: #353335;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 20px 5px;
}

.middleSection {
    background: white;
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

.profession > h1 {
    font-size: medium;
    font-family: "Poiret ONE", cursive;
    color: white;
    background: deepskyblue;
    border-radius: 20px;
    padding: 5px 20px;
    transition: background 0.5s ease-out;
    max-width: 300px;
}

.profession :hover {
    background: chartreuse;
}

.divider {
    background: gray;
    height: 1px;
}

.mainSection {
    padding: 0px 5px;
}

.skills {
    padding: 5px 15px;
    float: bottom;
}

.skill {
    font-family: "Comfortaa", cursive;
    color: #353335;
    border-color: deepskyblue;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 9px 9px;
    max-width: 100px;
    min-height: 25px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.work {
    color: white;
    background: #353335;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px 0px;
}

.work > h1 {
    font-size: small;
}
.skill > h1 {
    font-size: small;
}

.study > h1 {
    color: white;
    background: #353335;
    border-radius: 20px;
    padding: 20px;
    font-size: small;
}

.photo {
    width: 300px;
    height: 130%;
}

.myFrame {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.myPhoto{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.grade > h1 {
    font-family: "Poiret ONE", cursive;
    color: white;
    background: deepskyblue;
    border-radius: 40px;
    margin-left: 200px;
    margin-top: -25px;
    padding: 7px 30px;
    transition: background 0.5s ease-in;
    font-size: small;
}

.grade :hover {
    background: chartreuse;
}









