@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700|Poiret+One&display=swap&subset=cyrillic');

* {
    margin: 0;
}

h1 {
    font-size: small;
}

p {
    font-size: small;
}

li {
    font-size: small;
}

.Section {
    font-family: "Comfortaa", cursive;
    display: flex;
}

.TopSection {
    color: white;
    background: #353335;
}

.Button{
    font-family: "Comfortaa", cursive;
    color: white;
    border-radius: 20px;
    transition: background 2.0s ease-out;
    max-width: 300px;
}

.Nameplate{
    font-family: "Comfortaa", cursive;
    color: white;
    transition: background 2.0s ease-out;
    max-width: 300px;
}

.GetForPrint {
    background: linear-gradient(90deg, #46a5fa, #1e8cfa);
}

.Feedback {
    background: linear-gradient(90deg, #1e8cfa, #be41aa);
}

.Contacts > h1 {
    background: linear-gradient(90deg, #be41aa, #fa3264);
    border-radius: 20px;
}

.Divider {
    background: gray;
    height: 1px;
}

.SubSection {
    padding: 1px;
}

.SubSubSection {
    padding: 1px;
}

.BorderNameplate {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #353335;
    border-color: #46a5fa;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    max-width: 90px;
    min-height: 25px;
}

.BlackBorder{
    color: white;
    background: #353335;
    border-radius: 20px;
    margin-top: 10px;
}

.Education{
    font-family: "Comfortaa", cursive;
    color: white;
    background: linear-gradient(90deg, #46a5fa, #1e8cfa);
    border-radius: 20px;
}

.Worked{
    font-family: "Comfortaa", cursive;
    color: white;
    background: linear-gradient(90deg, #1e8cfa, #be41aa);
    border-radius: 20px;
}

.TopPhoto {
    width: 0px;
    height: 0%;
}

.TopFrame {
    width: 0px;
    height: 0px;
    overflow: hidden;
    border-radius: 50%;
}

.TopImage {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Image {
    width: 300px;
    height: 130%;
}

.Frame {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.Photo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}










