@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700|Poiret+One&display=swap&subset=cyrillic');

* {
    margin: 0;
    font-family: "Comfortaa", cursive;
    font-size: small;
}

.Section {
    display: flex;
    padding: 5px;
}

.TopSection {
    color: white;
    background: #353335;
    min-height: 30px;
}

.TopSection h1 {
    font-size: x-large;
}

.Button {
    color: white;
    border-radius: 20px;
    transition: background 2.0s ease-out;
    max-width: 300px;
    max-height: 400px;
    padding: 7px;
    margin: 3px;
}

.Button h1 {
    font-size: medium;
}

.Nameplate {
    color: white;
    border-radius: 20px;
    transition: background 2.0s ease-out;
    max-width: 300px;
    max-height: 400px;
    padding: 7px;
    margin: 3px;
}

.Nameplate h1 {
    font-size: medium;
}

.GetForPrint {
    background: linear-gradient(90deg, #46a5fa, #1e8cfa);
}

.Contacts {
    background: linear-gradient(90deg, #1e8cfa, #be41aa);
}

.Feedback {
    background: linear-gradient(90deg, #be41aa, #fa3264);
}

.FormButton {
    color: black;
    margin-top: 5px;
}

.Divider {
    background: gray;
    height: 1px;
}

.SubSection {
    padding: 1px;
}

.SubSection > h1 {
    font-size: medium;
    margin-bottom: 5px;
}

.SubSubSection {
    padding: 1px;
}

.BorderNameplate {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #353335;
    border-color: #46a5fa;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    max-width: 90px;
    min-height: 25px;
}

.BlackBorder {
    color: white;
    background: #353335;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}

.BlackBorder > h1 {
    font-size: medium;
}

.Education {
    color: white;
    background: linear-gradient(90deg, #46a5fa, #1e8cfa);
    border-radius: 20px;
}

.Worked {
    color: white;
    background: linear-gradient(90deg, #1e8cfa, #be41aa);
    border-radius: 20px;
}

.TopPhoto {
    display: none;
    padding: 5px
}

.Image {
    width: 300px;
    height: 130%;
}

.Frame {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.Photo {
    display: flex;
    justify-content: center;
}

.Form{
    justify-content: center;
    padding: 5px;
}

.FormField {
    border-radius: 20px;
    border-width: 0;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

#contactsContent {
    display: none;
    grid-gap: 5px 5px;
    justify-content: center;
}

#feedbackContent {
    display: none ;
}












